/******************************
	-	BASIC STYLES		-
******************************/

.rev_slider_wrapper {
  position: relative;
  z-index: 0;
}

.rev_slider {
  position: relative;
  overflow: visible;
}

.tp-overflow-hidden {
  overflow: hidden;
}

.tp-simpleresponsive img {
  max-width: none !important;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border: none;
}

.rev_slider {
  img {
    max-width: none !important;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border: none;
  }

  .no-slides-text {
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
  }

  >ul {
    list-style: none !important;
    position: absolute;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: visible;
    overflow-y: visible;
    list-style-type: none !important;
    background-image: none;
    background-position: 0px 0px;
    text-indent: 0em;
    top: 0px;
    left: 0px;
  }
}

.rev_slider_wrapper>ul,
.tp-revslider-mainul>li {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;
}

.rev_slider>ul>li {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;

  &:before {
    list-style: none !important;
    position: absolute;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: visible;
    overflow-y: visible;
    list-style-type: none !important;
    background-image: none;
    background-position: 0px 0px;
    text-indent: 0em;
    top: 0px;
    left: 0px;
  }
}

.tp-revslider-mainul>li:before {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;
}

.tp-simpleresponsive>ul {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;

  >li {
    list-style: none !important;
    position: absolute;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: visible;
    overflow-y: visible;
    list-style-type: none !important;
    background-image: none;
    background-position: 0px 0px;
    text-indent: 0em;
    top: 0px;
    left: 0px;

    &:before {
      list-style: none !important;
      position: absolute;
      margin: 0px !important;
      padding: 0px !important;
      overflow-x: visible;
      overflow-y: visible;
      list-style-type: none !important;
      background-image: none;
      background-position: 0px 0px;
      text-indent: 0em;
      top: 0px;
      left: 0px;
    }
  }
}

.tp-revslider-mainul>li,
.tp-simpleresponsive>ul>li {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;
}

.tp-revslider-mainul>li {
  visibility: hidden;
}

.rev_slider>ul>li {
  visibility: hidden;

  &:before {
    visibility: hidden;
  }
}

.tp-revslider-mainul>li:before {
  visibility: hidden;
}

.tp-simpleresponsive>ul>li {
  visibility: hidden;

  &:before {
    visibility: hidden;
  }
}

.tp-revslider-mainul>li,
.tp-simpleresponsive>ul>li {
  visibility: hidden;
}

.tp-revslider-slidesli,
.tp-revslider-mainul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}

.rev_slider li.tp-revslider-slidesli {
  position: absolute !important;
}

.tp-caption {
  .rs-untoggled-content {
    display: block;
  }

  .rs-toggled-content {
    display: none;
  }
}

.rs-toggle-content-active.tp-caption {
  .rs-toggled-content {
    display: block;
  }

  .rs-untoggled-content {
    display: none;
  }
}

.rev_slider {

  .tp-caption,
  .caption {
    position: relative;
    visibility: hidden;
    white-space: nowrap;
    display: block;
  }

  .tp-mask-wrap {

    .tp-caption,
    *:last-child {
      margin-bottom: 0;
    }
  }
}

.wpb_text_column .rev_slider .tp-mask-wrap {

  .tp-caption,
  *:last-child {
    margin-bottom: 0;
  }
}

/* CAROUSEL FUNCTIONS */

.tp-carousel-wrapper {
  cursor: url(openhand.cur), move;

  &.dragged {
    cursor: url(closedhand.cur), move;
  }
}

/* ADDED FOR SLIDELINK MANAGEMENT */

.tp-caption {
  z-index: 1;
}

.tp_inner_padding {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-height: none !important;
}

.tp-caption {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: absolute;
  -webkit-font-smoothing: antialiased !important;

  &.tp-layer-selectable {
    -moz-user-select: all;
    -khtml-user-select: all;
    -webkit-user-select: all;
    -o-user-select: all;
  }
}

.tp-forcenotvisible,
.tp-hide-revslider,
.tp-caption.tp-hidden-caption {
  visibility: hidden !important;
  display: none !important;
}

.rev_slider {

  embed,
  iframe,
  object,
  video {
    max-width: none !important;
  }
}

/**********************************************
	-	FULLSCREEN AND FULLWIDHT CONTAINERS	-
**********************************************/

.rev_slider_wrapper {
  width: 100%;
}

.fullscreen-container {
  position: relative;
  padding: 0;
}

.fullwidthbanner-container {
  position: relative;
  padding: 0;
  overflow: hidden;

  .fullwidthabanner {
    width: 100%;
    position: relative;
  }
}

/*********************************
	-	SPECIAL TP CAPTIONS -
**********************************/

.tp-static-layers {
  position: absolute;
  z-index: 505;
  top: 0px;
  left: 0px;
}

.tp-caption {
  .frontcorner {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-top: 40px solid #00A8FF;
    position: absolute;
    left: -40px;
    top: 0px;
  }

  .backcorner {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #00A8FF;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .frontcornertop {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 40px solid #00A8FF;
    position: absolute;
    left: -40px;
    top: 0px;
  }

  .backcornertop {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #00A8FF;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.tp-layer-inner-rotation {
  position: relative !important;
}

/***********************************************
	-	SPECIAL ALTERNATIVE IMAGE SETTINGS	-
***********************************************/

img.tp-slider-alternative-image {
  width: 100%;
  height: auto;
}

/******************************
	-	IE8 HACKS	-
*******************************/

.noFilterClass {
  filter: none !important;
}

/********************************
	-	FULLSCREEN VIDEO	-
*********************************/

.rs-background-video-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 0;
}

.tp-caption.coverscreenvideo {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

.caption.fullscreenvideo,
.tp-caption.fullscreenvideo {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.caption.fullscreenvideo {

  iframe,
  video {
    width: 100% !important;
    height: 100% !important;
    display: none;
  }
}

.tp-caption.fullscreenvideo iframe {
  width: 100% !important;
  height: 100% !important;
  display: none;

  video {
    width: 100% !important;
    height: 100% !important;
    display: none;
  }
}

.fullcoveredvideo video,
.fullscreenvideo video {
  background: #000;
}

.fullcoveredvideo .tp-poster {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.videoisplaying .html5vid .tp-poster {
  display: none;
}

.tp-video-play-button {
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  z-index: 3;
  margin-top: -25px;
  margin-left: -25px;
  line-height: 50px !important;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  z-index: 4;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out !important;
  -moz-transition: opacity 300ms ease-out !important;
  -o-transition: opacity 300ms ease-out !important;
  transition: opacity 300ms ease-out !important;
}

.tp-caption .html5vid {
  width: 100% !important;
  height: 100% !important;
}

.tp-video-play-button i {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 50px !important;
  font-size: 40px !important;
}

.tp-caption {
  &:hover .tp-video-play-button {
    opacity: 1;
  }

  .tp-revstop {
    display: none;
    border-left: 5px solid #fff !important;
    border-right: 5px solid #fff !important;
    margin-top: 15px !important;
    line-height: 20px !important;
    vertical-align: top;
    font-size: 25px !important;
  }
}

.videoisplaying {
  .revicon-right-dir {
    display: none;
  }

  .tp-revstop {
    display: inline-block;
  }

  .tp-video-play-button {
    display: none;
  }
}

.tp-caption:hover .tp-video-play-button {
  display: block;
}

.fullcoveredvideo .tp-video-play-button {
  display: none !important;
}

.fullscreenvideo {
  .fullscreenvideo video {
    object-fit: contain !important;
  }

  .fullcoveredvideo video {
    object-fit: cover !important;
  }
}

.tp-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  background-image: linear-gradient(bottom, rgb(0, 0, 0) 13%, rgb(50, 50, 50) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 0, 0) 13%, rgb(50, 50, 50) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 0, 0) 13%, rgb(50, 50, 50) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 13%, rgb(50, 50, 50) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 0, 0) 13%, rgb(50, 50, 50) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.13, rgb(0, 0, 0)), color-stop(1, rgb(50, 50, 50)));
  display: table;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tp-caption:hover .tp-video-controls {
  opacity: .9;
}

.tp-video-button {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  line-height: 12px;
  font-size: 12px;
  color: #fff;
  padding: 0px;
  margin: 0px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.tp-video-button-wrap,
.tp-video-seek-bar-wrap,
.tp-video-vol-bar-wrap {
  padding: 0px 5px;
  display: table-cell;
}

.tp-video-seek-bar-wrap {
  width: 80%;
}

.tp-video-vol-bar-wrap {
  width: 20%;
}

.tp-volume-bar,
.tp-seek-bar {
  width: 100%;
  cursor: pointer;
  outline: none;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

.rs-fullvideo-cover {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background: transparent;
  z-index: 5;
}

.rs-background-video-layer video::-webkit-media-controls {
  display: none !important;
}

/********************************
	-	DOTTED OVERLAYS	-
*********************************/

.tp-dottedoverlay {
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;

  &.twoxtwo {
    background: url(../assets/gridtile.png);
  }

  &.twoxtwowhite {
    background: url(../assets/gridtile_white.png);
  }

  &.threexthree {
    background: url(../assets/gridtile_3x3.png);
  }

  &.threexthreewhite {
    background: url(../assets/gridtile_3x3_white.png);
  }
}

/******************************
	-	SHADOWS		-
******************************/

.tp-shadowcover {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  position: absolute;
  z-index: -1;
}

.tp-shadow1 {
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.8);
}

.tp-shadow2 {

  &:before,
  &:after {
    z-index: -2;
    position: absolute;
    content: "";
    bottom: 10px;
    left: 10px;
    width: 50%;
    top: 85%;
    max-width: 300px;
    background: transparent;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

.tp-shadow3:before,
.tp-shadow4:after {
  z-index: -2;
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 50%;
  top: 85%;
  max-width: 300px;
  background: transparent;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.tp-shadow2:after,
.tp-shadow4:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.tp-shadow5 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    -webkit-box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.6);
    top: 30%;
    bottom: 0;
    left: 20px;
    right: 20px;
    -moz-border-radius: 100px / 20px;
    border-radius: 100px / 20px;
  }
}

/******************************
	-	BUTTONS	-
*******************************/

.tp-button {
  padding: 6px 13px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 30px;
  cursor: pointer;
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) !important;
  font-size: 15px;
  line-height: 45px !important;
  font-family: arial, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;

  &.big {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 9px 20px;
    font-size: 19px;
    line-height: 57px !important;
  }
}

.purchase:hover {
  background-position: bottom, 15px 11px;
}

.tp-button {

  &:hover,
  &.big:hover {
    background-position: bottom, 15px 11px;
  }

  &.green,
  &:hover.green {
    background-color: #21a117;
    -webkit-box-shadow: 0px 3px 0px 0px #104d0b;
    -moz-box-shadow: 0px 3px 0px 0px #104d0b;
    box-shadow: 0px 3px 0px 0px #104d0b;
  }
}

/*	BUTTON COLORS	*/

.purchase {

  &.green,
  &:hover.green {
    background-color: #21a117;
    -webkit-box-shadow: 0px 3px 0px 0px #104d0b;
    -moz-box-shadow: 0px 3px 0px 0px #104d0b;
    box-shadow: 0px 3px 0px 0px #104d0b;
  }
}

.tp-button {

  &.blue,
  &:hover.blue {
    background-color: #1d78cb;
    -webkit-box-shadow: 0px 3px 0px 0px #0f3e68;
    -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
    box-shadow: 0px 3px 0px 0px #0f3e68;
  }
}

.purchase {

  &.blue,
  &:hover.blue {
    background-color: #1d78cb;
    -webkit-box-shadow: 0px 3px 0px 0px #0f3e68;
    -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
    box-shadow: 0px 3px 0px 0px #0f3e68;
  }
}

.tp-button {

  &.red,
  &:hover.red {
    background-color: #cb1d1d;
    -webkit-box-shadow: 0px 3px 0px 0px #7c1212;
    -moz-box-shadow: 0px 3px 0px 0px #7c1212;
    box-shadow: 0px 3px 0px 0px #7c1212;
  }
}

.purchase {

  &.red,
  &:hover.red {
    background-color: #cb1d1d;
    -webkit-box-shadow: 0px 3px 0px 0px #7c1212;
    -moz-box-shadow: 0px 3px 0px 0px #7c1212;
    box-shadow: 0px 3px 0px 0px #7c1212;
  }
}

.tp-button {

  &.orange,
  &:hover.orange {
    background-color: #ff7700;
    -webkit-box-shadow: 0px 3px 0px 0px #a34c00;
    -moz-box-shadow: 0px 3px 0px 0px #a34c00;
    box-shadow: 0px 3px 0px 0px #a34c00;
  }
}

.purchase {

  &.orange,
  &:hover.orange {
    background-color: #ff7700;
    -webkit-box-shadow: 0px 3px 0px 0px #a34c00;
    -moz-box-shadow: 0px 3px 0px 0px #a34c00;
    box-shadow: 0px 3px 0px 0px #a34c00;
  }
}

.tp-button {

  &.darkgrey,
  &.grey {
    background-color: #555;
    -webkit-box-shadow: 0px 3px 0px 0px #222;
    -moz-box-shadow: 0px 3px 0px 0px #222;
    box-shadow: 0px 3px 0px 0px #222;
  }

  &:hover {

    &.darkgrey,
    &.grey {
      background-color: #555;
      -webkit-box-shadow: 0px 3px 0px 0px #222;
      -moz-box-shadow: 0px 3px 0px 0px #222;
      box-shadow: 0px 3px 0px 0px #222;
    }
  }
}

.purchase {

  &.darkgrey,
  &:hover.darkgrey {
    background-color: #555;
    -webkit-box-shadow: 0px 3px 0px 0px #222;
    -moz-box-shadow: 0px 3px 0px 0px #222;
    box-shadow: 0px 3px 0px 0px #222;
  }
}

.tp-button {

  &.lightgrey,
  &:hover.lightgrey {
    background-color: #888;
    -webkit-box-shadow: 0px 3px 0px 0px #555;
    -moz-box-shadow: 0px 3px 0px 0px #555;
    box-shadow: 0px 3px 0px 0px #555;
  }
}

.purchase {

  &.lightgrey,
  &:hover.lightgrey {
    background-color: #888;
    -webkit-box-shadow: 0px 3px 0px 0px #555;
    -moz-box-shadow: 0px 3px 0px 0px #555;
    box-shadow: 0px 3px 0px 0px #555;
  }
}

/* TP BUTTONS DESKTOP SIZE */

.rev-btn {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  line-height: 44px;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 35px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  &:visited {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    line-height: 44px;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }

  &.rev-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 900;

    &:visited {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: 900;
    }
  }

  &.rev-withicon i {
    font-size: 15px;
    font-weight: normal;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.2s ease-out !important;
    -moz-transition: all 0.2s ease-out !important;
    -o-transition: all 0.2s ease-out !important;
    -ms-transition: all 0.2s ease-out !important;
    margin-left: 10px !important;
  }

  &.rev-hiddenicon {
    i {
      font-size: 15px;
      font-weight: normal;
      position: relative;
      top: 0px;
      -webkit-transition: all 0.2s ease-out !important;
      -moz-transition: all 0.2s ease-out !important;
      -o-transition: all 0.2s ease-out !important;
      -ms-transition: all 0.2s ease-out !important;
      opacity: 0;
      margin-left: 0px !important;
      width: 0px !important;
    }

    &:hover i {
      opacity: 1 !important;
      margin-left: 10px !important;
      width: auto !important;
    }
  }

  &.rev-medium {
    line-height: 36px;
    font-size: 14px;
    padding: 10px 30px;

    &:visited {
      line-height: 36px;
      font-size: 14px;
      padding: 10px 30px;
    }

    &.rev-withicon i,
    &.rev-hiddenicon i {
      font-size: 14px;
      top: 0px;
    }
  }

  &.rev-small {
    line-height: 28px;
    font-size: 12px;
    padding: 7px 20px;

    &:visited {
      line-height: 28px;
      font-size: 12px;
      padding: 7px 20px;
    }

    &.rev-withicon i,
    &.rev-hiddenicon i {
      font-size: 12px;
      top: 0px;
    }
  }
}

/* REV BUTTONS MEDIUM */

/* REV BUTTONS SMALL */

/* ROUNDING OPTIONS */

.rev-maxround {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.rev-minround {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* BURGER BUTTON */

.rev-burger {
  position: relative;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 22px 0 0 14px;
  border-radius: 50%;
  border: 1px solid rgba(51, 51, 51, 0.25);
  tap-highlight-color: transparent;
  cursor: pointer;

  span {
    display: block;
    width: 30px;
    height: 3px;
    background: #333;
    transition: .7s;
    pointer-events: none;
    transform-style: flat !important;

    &:nth-child(2) {
      margin: 3px 0;
    }
  }
}

#dialog_addbutton .rev-burger:hover :first-child {
  transform: translateY(6px) rotate(-45deg);
  -webkit-transform: translateY(6px) rotate(-45deg);
}

.open {

  .rev-burger :first-child,
  &.rev-burger :first-child {
    transform: translateY(6px) rotate(-45deg);
    -webkit-transform: translateY(6px) rotate(-45deg);
  }
}

#dialog_addbutton .rev-burger:hover :nth-child(2) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}

.open {

  .rev-burger :nth-child(2),
  &.rev-burger :nth-child(2) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity: 0;
  }
}

#dialog_addbutton .rev-burger:hover :last-child {
  transform: translateY(-6px) rotate(-135deg);
  -webkit-transform: translateY(-6px) rotate(-135deg);
}

.open {

  .rev-burger :last-child,
  &.rev-burger :last-child {
    transform: translateY(-6px) rotate(-135deg);
    -webkit-transform: translateY(-6px) rotate(-135deg);
  }
}

.rev-burger {
  &.revb-white {
    border: 2px solid rgba(255, 255, 255, 0.2);

    span {
      background: #fff;
    }
  }

  &.revb-whitenoborder {
    border: 0;

    span {
      background: #fff;
    }
  }

  &.revb-darknoborder {
    border: 0;

    span {
      background: #333;
    }
  }

  &.revb-whitefull {
    background: #fff;
    border: none;

    span {
      background: #333;
    }
  }

  &.revb-darkfull {
    background: #333;
    border: none;

    span {
      background: #fff;
    }
  }
}

/* SCROLL DOWN BUTTON */
@-webkit-keyframes rev-ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}


@-moz-keyframes rev-ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}


@keyframes rev-ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}


.rev-scroll-btn {
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;

  >* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #fff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      filter: alpha(opacity=80);
    }
  }

  &.revs-fullwhite {
    background: #fff;

    span {
      background: #333;
    }
  }

  &.revs-fulldark {
    background: #333;
    border: none;

    span {
      background: #fff;
    }
  }

  span {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: rev-ani-mouse 2.5s linear infinite;
    -moz-animation: rev-ani-mouse 2.5s linear infinite;
    animation: rev-ani-mouse 2.5s linear infinite;
  }

  &.revs-dark {
    border-color: #333;

    span {
      background: #333;
    }
  }
}

.rev-control-btn {
  position: relative;
  display: inline-block;
  z-index: 5;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  font-weight: 400;
  font-style: normal;
  font-family: Raleway;
  text-decoration: none;
  text-align: center;
  background-color: #000;
  border-radius: 50px;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
}

.rev-cbutton-dark-sr {
  border-radius: 3px;
}

.rev-cbutton-light {
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
}

.rev-cbutton-light-sr {
  color: #333;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.75);
}

.rev-sbutton {
  line-height: 37px;
  width: 37px;
  height: 37px;
}

.rev-sbutton-blue {
  background-color: #3B5998;
}

.rev-sbutton-lightblue {
  background-color: #00A0D1;
}

.rev-sbutton-red {
  background-color: #DD4B39;
}

/************************************
-	TP BANNER TIMER		-
*************************************/

.tp-bannertimer {
  visibility: hidden;
  width: 100%;
  height: 5px;
  /*background:url(../assets/timer.png);*/
  background: #fff;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 200;
  top: 0px;

  &.tp-bottom {
    top: auto;
    bottom: 0px !important;
    height: 5px;
  }
}

/*********************************************
-	BASIC SETTINGS FOR THE BANNER	-
***********************************************/

.tp-simpleresponsive img {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.tp-caption img {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  zoom: 1;
}

/*  CAPTION SLIDELINK   **/

.caption.slidelink a div {
  width: 3000px;
  height: 1500px;
  background: url(../assets/coloredbg.png) repeat;
}

.tp-caption.slidelink a {
  div {
    width: 3000px;
    height: 1500px;
    background: url(../assets/coloredbg.png) repeat;
  }

  span {
    background: url(../assets/coloredbg.png) repeat;
  }
}

.tp-shape {
  width: 100%;
  height: 100%;
}

/*********************************************
-	WOOCOMMERCE STYLES	-
***********************************************/

.tp-caption {
  .rs-starring {
    display: inline-block;

    .star-rating {
      float: none;
      color: #FFC321 !important;
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 1em;
      width: 5.4em;
      font-family: star;
    }
  }

  .rs-starring-page .star-rating {
    position: relative;
    height: 1em;
    width: 5.4em;
    font-family: star;
  }

  .rs-starring .star-rating:before,
  .rs-starring-page .star-rating:before {
    content: "\73\73\73\73\73";
    color: #E0DADF;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  .rs-starring .star-rating {
    span {
      overflow: hidden;
      float: left;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 1.5em;
      font-size: 1em !important;

      &:before {
        content: "\53\53\53\53\53";
        top: 0;
        position: absolute;
        left: 0;
      }
    }

    color: #FFC321 !important;
    font-size: 1em !important;
    font-family: star;
  }

  .rs-starring-page .star-rating {
    font-size: 1em !important;
    font-family: star;
  }
}

/******************************
	-	LOADER FORMS	-
********************************/

.tp-loader {
  top: 50%;
  left: 50%;
  z-index: 10000;
  position: absolute;

  &.spinner0 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    background: url(../assets/loader.gif) no-repeat center center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  &.spinner1 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  &.spinner5 {
    background: url(../assets/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  &.spinner2 {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #ff0000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    -webkit-animation: tp-scaleout 1.0s infinite ease-in-out;
    animation: tp-scaleout 1.0s infinite ease-in-out;
  }

  &.spinner3 {
    margin: -9px 0px 0px -35px;
    width: 70px;
    text-align: center;

    .bounce1,
    .bounce2,
    .bounce3 {
      width: 18px;
      height: 18px;
      background-color: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: tp-bouncedelay 1.4s infinite ease-in-out;
      animation: tp-bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }

  &.spinner4 {
    margin: -20px 0px 0px -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-animation: tp-rotate 2.0s infinite linear;
    animation: tp-rotate 2.0s infinite linear;

    .dot1 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: tp-bounce 2.0s infinite ease-in-out;
      animation: tp-bounce 2.0s infinite ease-in-out;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: tp-bounce 2.0s infinite ease-in-out;
      animation: tp-bounce 2.0s infinite ease-in-out;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      top: auto;
      bottom: 0px;
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
  }
}

@-webkit-keyframes tp-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}


@keyframes tp-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


@-webkit-keyframes tp-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}


@keyframes tp-scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}


@-webkit-keyframes tp-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}


@keyframes tp-bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}


@-webkit-keyframes tp-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes tp-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}


@-webkit-keyframes tp-bounce {

  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}


@keyframes tp-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}


/***********************************************
	-  STANDARD NAVIGATION SETTINGS 
***********************************************/

.tp-thumbs.navbar,
.tp-bullets.navbar {
  border: none;
  min-height: 0;
  margin: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.tp-tabs {
  &.navbar {
    border: none;
    min-height: 0;
    margin: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }

  position: absolute;
  display: block;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

.tp-thumbs,
.tp-bullets {
  position: absolute;
  display: block;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

.tp-tab,
.tp-thumb {
  cursor: pointer;
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tp-arr-imgholder,
.tp-videoposter,
.tp-thumb-image,
.tp-tab-image {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.tp-tab {

  &:hover,
  &.selected {
    opacity: 1;
  }
}

.tp-thumb {

  &:hover,
  &.selected {
    opacity: 1;
  }
}

.tp-tab-mask,
.tp-thumb-mask {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}

.tp-tabs,
.tp-thumbs {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
}

.tp-bullet {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;

  &.selected,
  &:hover {
    background: #fff;
  }
}

.tp-bannertimer {
  background: #000;
  background: rgba(0, 0, 0, 0.15);
  height: 5px;
}

.tparrows {
  cursor: pointer;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;

  &:hover {
    background: #000;
  }

  &:before {
    font-family: "revicons";
    font-size: 15px;
    color: #fff;
    display: block;
    line-height: 40px;
    text-align: center;
  }

  &.tp-leftarrow:before {
    content: '\e824';
  }

  &.tp-rightarrow:before {
    content: '\e825';
  }
}

/***************************
	- 3D SHADOW MODE -
***************************/

.dddwrappershadow {
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

/*******************
	- DEBUG MODE -
*******************/

.hglayerinfo {
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  z-index: 2000;
  white-space: normal;
}

.hginfo {
  position: absolute;
  top: -2px;
  left: -2px;
  color: #e74c3c;
  font-size: 12px;
  font-weight: 600;
  background: #000;
  padding: 2px 5px;
}

.indebugmode .tp-caption:hover {
  border: 1px dashed #c0392b !important;
}

.helpgrid {
  border: 2px dashed #c0392b;
  position: absolute;
  top: 0px;
  peft: 0px;
  z-index: 0;
}

#revsliderlogloglog {
  padding: 15px;
  color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 150px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  font-size: 10px;
  overflow: scroll;
}