<html>
<head>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      border: 0;
    }
    *:not(br):not(tr):not(html) {
      box-sizing: border-box;
    }
    body {
      width: 100% !important;
      font-family: 'Montserrat', sans-serif;
      height: 100vh;
      margin: 0;
      line-height: 1.4;
      box-sizing: border-box;
      color: #74787E;
      -webkit-text-size-adjust: none;
    }
    strong {
      font-family: 'Montserrat', sans-serif !important;
    }
    p,
    ul,
    ol,
    blockquote {
      line-height: 1.4;
      text-align: left;
    }
    td {
      word-break: break-word;
    }
    h1,
    h2,
    h3 {
      color: #6d6a6a;
    }
    /* Layout ------------------------------ *
    .email-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      -premailer-width: 100%;
      -premailer-cellpadding: 0;
      -premailer-cellspacing: 0;
      background-color: #585858;
    }
    .email-content {
      width: 100%;
      margin: 0;
      padding: 0;
      -premailer-width: 100%;
      -premailer-cellpadding: 0;
      -premailer-cellspacing: 0;
    }
    .footer {
      background-color: #243746;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      bottom: 0;
    }
    /* Masthead ----------------------- *
    .email-masthead {
      padding: 25px 0;
      text-align: center;
      background-color: #b35077;
    }
    .email-masthead img {
      height: 25%;
    }
    .email-masthead_logo {
      width: 94px;
    }
    .email-masthead_name {
      font-size: 16px;
      font-weight: bold;
      color: #bbbfc3;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
    }
    /* Body ------------------------------ *
    .email-body {
      width: 100%;
      margin: 0;
      padding: 0;
      -premailer-width: 100%;
      -premailer-cellpadding: 0;
      -premailer-cellspacing: 0;
      border-top: 1px solid #EDEFF2;
      border-bottom: 1px solid #EDEFF2;
      background-color: #FFFFFF;
    }
    .email-body_inner {
      width: 570px;
      margin: 0 auto;
      padding: 0;
      -premailer-width: 570px;
      -premailer-cellpadding: 0;
      -premailer-cellspacing: 0;
      background-color: #FFFFFF;
    }
    .email-footer {
      width: 570px;
      margin: 0 auto;
      padding: 0;
      -premailer-width: 570px;
      -premailer-cellpadding: 0;
      -premailer-cellspacing: 0;
      text-align: center;
    }
    .email-footer p {
      color: #fff;
    }
    .body-action {
      width: 100%;
      margin: 30px auto;
      padding: 0;
      -premailer-width: 100%;
      -premailer-cellpadding: 0;
      -premailer-cellspacing: 0;
      text-align: center;
    }
    .body-sub {
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px solid #EDEFF2;
    }
    .content-cell {
      padding: 35px;
      font-weight: bold;
      font-size: 30px;
      color: #4cc0e7;
    }
    /* Attribute list ------------------------------ *
    .attributes {
      margin: 0 0 21px;
    }
    .attributes_content {
      background-color: #fff;
      padding: 16px;
    }
    .attributes_item {
      padding: 0;
      line-height: 28px;
    }
    .attributes_item strong {
      color: #6a6d6d;
      font-size: 15px;
    }
    .attributes_item img {
      margin-top: 20px;
      width: 100%;
    }
    #company {
      color: #007828;
      text-decoration: none !important;
    }
    .info-extra {
      margin-top: 30px;
    }
    /* Utilities ------------------------------ *
    .align-right {
      text-align: right;
    }
    .align-left {
      text-align: left;
    }
    .align-center {
      text-align: center;
    }
    .footer-2 {
      background-color: #323232;
      width: 100%;
      color: #fff;
    }
    /*Media Queries ------------------------------ *
    @media only screen and (max-width:600px) {
      .email-body_inner,
      .email-footer {
        width: 100% !important;
      }
    }
    @media only screen and (max-width:500px) {
      .button {
        width: 100% !important;
      }
    }
    @media only screen and (max-width:767px) {
      .email-masthead img {
        width: 30%;
      }
    }
    /* Type ------------------------------ */
    h1 {
      margin-top: 0;
      color: #6a6d6d;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
    }
    h2 {
      margin-top: 0;
      color: #2F3133;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    h3 {
      margin-top: 0;
      color: #2F3133;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    p {
      margin-top: 0;
      color: #74787E;
      font-size: 16px;
      line-height: 1.5em;
      text-align: center;
    }
    p.sub {
      font-size: 13px;
      color: #fff;
    }
    p.center {
      text-align: center;
    }
    .green {
      background: #f3f3f3;
    }
    .whatsapp {
      text-decoration: none;
      color: #74787E !important;
      font-weight: 900;
      margin-bottom: 10px;
      font-size: 20px;
    }
    .foot-h {
      height: 9.7rem;
    }
  </style>
</head>
<body>
  <table cellpadding='0' cellspacing='0' class='email-wrapper' width='100%'>
    <tr>
    <tr class="green">
      <td align="center">
        <table cellpadding='0' cellspacing='0' class='email-footer' width='100%'>
          <tr class="biocert">
            <td align='center' class='content-cell'>
              <img src="https://i.ibb.co/FnkjXhR/logo.png" alt="" style="width: 200px">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <table cellpadding='0' cellspacing='0' class='email-content' width='100%'>
      <!-- Email Body -->
      <tr>
        <td cellpadding='0' cellspacing='0' class='email-body' width='100%'>
          <table align='center' cellpadding='0' cellspacing='0' class='email-body_inner' width='570'>
            <!-- Body content -->
            <tr>
              <td class='content-cell'>
                <h1>
                  Estimado
                  ¡Mensaje del cliente!
                </h1>
                <p>Su información de contacto es:</p>
                <table cellpadding='0' cellspacing='0' class='attributes' width='100%'>
                  <tr>
                    <td class='attributes_content'>
                      <table cellpadding='0' cellspacing='0' width='100%'>
                        <tr>
                          <td class='attributes_item'>
                            <strong>Nombre y Apellido:</strong>
                            <strong>
                              <%= @message[:name] %></strong>
                          </td>
                        </tr>
                        <tr>
                          <td class='attributes_item'>
                            <strong>Correo Electrónico:</strong>
                            <strong>
                              <%= @message[:to_emails] %></strong>
                          </td>
                        </tr>
                        <tr>
                          <td class='attributes_item'>
                            <strong>Mensaje:</strong>
                            <strong>
                              <%= @message[:content] %></strong>
                          </td>
                        </tr>
                      </table>
                      <p class="info-extra">
                        En la brevedad posible nos estaremos comunicando con usted
                      </p>
                      <p>
                        <strong>Un cordial saludo, Atención al cliente - Arlides Group</strong>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="footer">
        <td>
      <tr class="">
        <table align='center' cellpadding='0' cellspacing='0' class="footer-2">
          <td align='center' class='content-cell foot-h'>
            <center>
              <p class='sub align-center'>ARLIDES GROUP © - 2018 | Todos los derechos reservados</p>
              <p class='sub align-center'>
                Desarrollado por
                <a href='http://slicegroup.xyz' id='company' target="_blank">
                  <strong>Slice Group</strong>
                </a>
              </p>
            </center>
          </td>
        </table>
      </tr>
      </td>
      </tr>
    </table>
    </td>
    </tr>
  </table>
</body>
</html>