#About.section.mcb-section.equal-height-wrap.about
  .section_wrapper.mcb-section-inner
    .wrap.mcb-wrap.one-second.valign-middle.clearfix{:style => "padding:0 5% 0 0"}
      .mcb-wrap-inner
        .column.mcb-column.one.column_column
          .column_attr.clearfix.animate{"data-anim-type" => "fadeInRight"}
            %h4.themecolor{:style => "margin-bottom: 6px"} About me
            %h2 Sacred Touch Healing
            %p{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
              Nothing that happens in your life is by simple chance, if you came here is because my soul and yours resonate. In this space I seek to help you in your evolution, to develop and believe in you, because I believe in empowered women, women who help each other and who are as an unconditional support.
            %p{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
              I am a holistic therapist, this means that I see the person as a whole and I like to see the human being with his four bodies, physical body, mental body, emotional body and spiritual body.
            -# %p
            -#   Nunc ac aliquam nulla, a imperdiet ipsum.
            %hr.no_line{:style => "margin: 0 auto 15px"}/
            %h5{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
              %i.fa.fa-phone.themecolor
              + 713 5606 940
            // %h5
            //   %i.icon-call.themecolor
            //   %a{:href => "#"}
            //     %span noreply@envato.com
    .wrap.mcb-wrap.one-second.valign-middle.clearfix
      .mcb-wrap-inner
        .column.mcb-column.one.column_image
          .animate{"data-anim-type" => "zoomIn"}
            .image_frame.image_item.no_link.scale-with-grid.aligncenter.no_border
              .image_wrapper
                %img.scale-with-grid.img-banner{:src => "assets/img/about.jpg"}/