#Pricing.section.mcb-section{:style => "padding-top:80px; padding-bottom:40px"}
  .section_wrapper.mcb-section-inner
    .wrap.mcb-wrap.one.valign-top.clearfix{:style => "padding:0 8%"}
      .mcb-wrap-inner
        .column.mcb-column.one.column_column
          .column_attr.clearfix.align_center
            %h4.themecolor{:style => "margin-bottom: 6px"} Plans &amp; Pricing
            %h2 Perfectly matched
            %p{:style => "margin: 0 26%"}
              Duis dignissim mi ut laoreet mollis. Nunc id tellus finibus, eleifend mi vel, maximus justo. Maecenas mi tortor, pellentesque aliquam.
        .column.mcb-column.one-third.column_pricing_item.dietitian2-shadow
          .pricing-box.pricing-box-box
            .animate{"data-anim-type" => "fadeInUp"}
              .plan-header
                .image
                  %img{:src => "assets/img/home_dietitian2_pic14.png"}/
                %h2 Basic
                .price
                  %sup.currency $
                  %span 49
                  %sup.period / monthly
                %hr.hr_color/
              .plan-inside
                %div{:style => "text-align: left; margin: 30px 0 40px"}
                  %p{:style => "background: url(assets/img/home_dietitian2_pic9.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
                    Nutrition plan
                  %p{:style => "background: url(assets/img/home_dietitian2_pic9.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
                    Training plan
                  %p{:style => "background: url(assets/img/home_dietitian2_pic9.png) left 4px no-repeat; padding-left: 25px"}
                    Body measurement
                  %hr.no_line{:style => "margin: 0 auto 15px"}/
                  %ul
                    %li{:style => "text-align: left"}
                      30 days consultations
                    %li{:style => "text-align: left"}
                      3 personal meetings
                    %li{:style => "text-align: left"}
                      $20 access to additional materials
              .plan-footer
                %a.button.button_theme.button_js.button_left{:href => "#"}
                  %span.button_icon
                    %i.icon-mail-line
                  %span.button_label Send Request
        .column.mcb-column.one-third.column_pricing_item.dietitian2-shadow
          .pricing-box.pricing-box-featured.pricing-box-box
            .animate{"data-anim-type" => "fadeInUp"}
              .plan-header
                .image
                  %img{:src => "assets/img/home_dietitian2_pic13.png"}/
                %h2 Standard
                .price
                  %sup.currency $
                  %span 79
                  %sup.period / monthly
                %hr.hr_color/
              .plan-inside
                %div{:style => "text-align: left; margin: 30px 0 40px"}
                  %p{:style => "background: url(assets/img/home_dietitian2_pic15.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
                    Nutrition plan
                  %p{:style => "background: url(assets/img/home_dietitian2_pic15.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
                    Training plan
                  %p{:style => "background: url(assets/img/home_dietitian2_pic15.png) left 4px no-repeat; padding-left: 25px"}
                    Body measurement
                  %hr.no_line{:style => "margin: 0 auto 15px"}/
                  %ul
                    %li{:style => "text-align: left"}
                      60 days consultations
                    %li{:style => "text-align: left"}
                      10 personal meetings
                    %li{:style => "text-align: left"}
                      Free access to additional materials
              .plan-footer
                %a.button.button_theme.button_js.button_left{:href => "#"}
                  %span.button_icon
                    %i.icon-mail-line
                  %span.button_label Send Request
        .column.mcb-column.one-third.column_pricing_item.dietitian2-shadow
          .pricing-box.pricing-box-box
            .animate{"data-anim-type" => "fadeInUp"}
              .plan-header
                .image
                  %img{:src => "assets/img/home_dietitian2_pic12.png"}/
                %h2 Professional
                .price
                  %sup.currency $
                  %span 99
                  %sup.period / monthly
                %hr.hr_color/
              .plan-inside
                %div{:style => "text-align: left; margin: 30px 0 40px"}
                  %p{:style => "background: url(assets/img/home_dietitian2_pic5.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
                    Nutrition plan
                  %p{:style => "background: url(assets/img/home_dietitian2_pic5.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
                    Training plan
                  %p{:style => "background: url(assets/img/home_dietitian2_pic5.png) left 4px no-repeat; padding-left: 25px"}
                    Body measurement
                  %hr.no_line{:style => "margin: 0 auto 15px"}/
                  %ul
                    %li{:style => "text-align: left"}
                      90 days consultations
                    %li{:style => "text-align: left"}
                      15 personal meetings
                    %li{:style => "text-align: left"}
                      Free access to additional materials
              .plan-footer
                %a.button.button_theme.button_js.button_left{:href => "#"}
                  %span.button_icon
                    %i.icon-mail-line
                  %span.button_label Send Request