#Services.section.mcb-section{:style => "padding-top:80px; padding-bottom:40px"}
  .column.mcb-column.one.column_divider
    %hr.no_line{:style => "margin: 0 auto 80px"}/
  .section_wrapper.mcb-section-inner.single-item
    .wrap.mcb-wrap.one.valign-top.clearfix
      .mcb-wrap-inner
        .column.mcb-column.one.column_column
          .column_attr.clearfix.align_center
            %h4.themecolor{:style => "margin-bottom: 6px"} Our services
            %h2 know more about our services
        .column.mcb-column.one.column_divider
          %hr.no_line{:style => "margin: 0 auto 80px"}/
    .group-services
      .wrap.mcb-wrap.one-third.valign-top.clearfix{:style => "padding:0 1%"}
        .mcb-wrap-inner
          .content-img
            %img{:src => "https://www.torqueayurveda.com/wp-content/uploads/2019/04/eab1f3_d8d9559b21ff48c2b2b72923408d20fc_mv2.jpg"}/
          .mcb-column.one.column_column
            .column_attr.clearfix.animate.content-column-services{"data-anim-type" => "fadeInUp", :style => "background-color:rgba(239, 66, 111, 0.26);"}
              
              %h5{:style => "text-align: center"}
                Energetic alignment of physical, mental, emotional and spiritual body
              
              %div{:style => "width: 80px; height: 5px; background: #ef426f; border-radius: 3px; margin: 0 auto"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p.description-services{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
                A holistic therapy that understands the individual as a Whole (mind-emotion-body-spirit) and that proposes to align our life with the purest part of our Being, our true essence.
              

      .wrap.mcb-wrap.one-third.valign-top.clearfix{:style => "padding:0 1%"}
        .mcb-wrap-inner
          .column.mcb-column.one.column_column
            .content-img
              %img{:src => "assets/img/limpieza.jpg"}/
            .column_attr.clearfix.animate.content-column-services{"data-anim-type" => "fadeInUp", :style => "background-color: rgba(89, 49, 95, 0.12);"}

              %h5{:style => "text-align: center"}
                Cleaning the spinal column
  
              %div{:style => "width: 80px; height: 5px; background: #59315f; border-radius: 3px; margin: 0 auto"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p.description-services{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
                A fundamental habit for self-healing is to maintain an active energy system by cleansing and flexibilizing the spine. Our spine supports not only our body, but is the physical counterpart of the most important energy channels (nadhis) of our system.
              
    
      .wrap.mcb-wrap.one-third.valign-top.clearfix{:style => "padding:0 1%"}
        .mcb-wrap-inner
          .column.mcb-column.one.column_column
            .content-img
              %img{:src => "assets/img/manos2.webp"}/
            .column_attr.clearfix.animate.content-column-services{"data-anim-type" => "fadeInUp", :style => "background-color:rgba(248, 163, 188, 0.23);"} 
              // %hr.no_line{:style => "margin: 0 auto 30px"}/
              %h5{:style => "text-align: center"} 
                Ancestral Lineage
                -# Lineaje ancestral
              %div{:style => "width: 80px; height: 5px; background: #f48fb1; border-radius: 3px; margin: 0 auto"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p.description-services{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
                One of the most important tasks we have in this existence is to identify and release the patterns, behaviors and beliefs that we have inherited from our maternal and paternal lineage. These inherited patterns distort our outlook on life. 
              
            

    // .wrap.mcb-wrap.one-third.valign-top.clearfix{:style => "padding:0 1%"}
    //   .mcb-wrap-inner
    //     .column.mcb-column.one.column_column
    //       .column_attr.clearfix.animate{"data-anim-type" => "fadeInUp", :style => " order-bottom-right-radius: 5px;background-color:#fef4f7;"}
    //         %div{:style => "position: relative; top: -80px; height:80px; text-align: center"}
    //           .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
    //             .image_wrapper
    //               %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic8.png"}/
    //         %hr.no_line{:style => "margin: 0 auto 30px"}/
    //         %h5{:style => "text-align: center"} Comprehensive body measurement
    //         %hr.no_line{:style => "margin: 0 auto 15px"}/
    //         %div{:style => "width: 80px; height: 5px; background: #f48fb1; border-radius: 3px; margin: 0 auto"}
    //         %hr.no_line{:style => "margin: 0 auto 30px"}/
    //         %p
    //           Mauris semper auctor odio, et consectetur magna ullamcorper mollis nulla.
    //         %hr.no_line{:style => "margin: 0 auto 10px"}/
    //         %p{:style => "background: url(assets/img/home_dietitian2_pic10.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
    //           Integer rhoncus nisi et egestas,
    //         %p{:style => "background: url(assets/img/home_dietitian2_pic10.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
    //           Curabitur pharetra nibh efficitur,
    //         // %p{:style => "background: url(assets/img/home_dietitian2_pic10.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
    //         //   Integer eu nulla ullamcorper,
    //         // %p{:style => "background: url(assets/img/home_dietitian2_pic10.png) left 4px no-repeat; padding-left: 25px; margin-bottom: 5px"}
    //         //   Duis sodales arcu quis leo blandit.


    // .wrap.mcb-wrap.one.valign-top.clearfix
    //   .mcb-wrap-inner
    //     .column.mcb-column.one.column_divider
    //       %hr.no_line{:style => "margin: 0 auto 20px"}/
    //     .column.mcb-column.one.column_column.column-margin-20px
    //       .column_attr.clearfix.align_center
    //         %h5
    //           If you want to know more,
    //           %br/
    //           submit an inquiry or call
    //           %span.themecolor +61 (0) 383 766 284
    //     .column.mcb-column.one.column_button
    //       .button_align.align_center
    //         %a.button.button_right.button_size_2.button_theme.button_js{:href => "#"}
    //           %span.button_icon
    //             %i.icon-mail-line
    //           %span.button_label Send Request
              
