#Testimonials.section.mcb-section{:style => "padding-top:100px; padding-bottom:0px; background-image:url(assets/img/back_1.png); background-repeat:repeat; background-position:center top;"}
  .section_wrapper.mcb-section-inner
    .wrap.mcb-wrap.one.valign-top.clearfix
      .mcb-wrap-inner
        .column.mcb-column.one.column_column
          .column_attr.clearfix.align_center
            %h4.themecolor{:style => "margin-bottom: 6px"} Testimonials
            %h2 Listen to what my clients say
        .column.mcb-column.one.column_testimonials
          .testimonials_slider.single-photo
            %ul.testimonials_slider_ul
              %li
                %a{:href => "testimonials.html"}
                  .single-photo-img
                    %img.scale-with-grid.wp-post-image{:src => "assets/img/attractive-beautiful-beauty-1878480.jpg"}/
                  .bq_wrapper
                    %blockquote.description-testimonials{:style =>"font-family: 'Roboto';font-size: 15px;"}
                      Pellentesque tincidunt lorem. Integer nibh lacus, congue eu, fringilla vel, velit. Donec auctor auctor nibh, imperdiet felis, eleifend tincidunt, tortor justo nibh, dictum orci. Vestibulum ante sodales eros. In mollis, turpis non sem vestibulum ipsum.
                      Aenean lobortis sed, pretium bibendum.
                  .hr_dots
                    %span
                    %span
                    %span
                  .author
                    %h5{:style =>"font-size: 15px;"} Carolina Vargas, 25 years
                    %span.company
              %li
                %a{:href => "testimonials.html"}
                  .single-photo-img
                    %img.scale-with-grid.wp-post-image{:src => "assets/img/attractive-beautiful-woman-beauty-2588008.jpg"}/
                  .bq_wrapper
                    %blockquote.description-testimonials{:style =>"font-family: 'Roboto';font-size: 15px;"}
                      Sed nonummy sagittis. Aliquam ante volutpat aliquam convallis. Cras adipiscing elit. In bibendum mi, nec erat consectetuer adipiscing eget, facilisis libero. Praesent in vestibulum wisi sapien libero, fringilla erat. Suspendisse adipiscing elit. Quisque
                      est ullamcorper ultrices velit ac lacus lorem.
                  .hr_dots
                    %span
                    %span
                    %span
                  .author
                    %h5{:style =>"font-size: 15px;"} Patricia Smith, 24 years
                    %span.company
              %li
                %a{:href => "testimonials.html"}
                  .single-photo-img
                    %img.scale-with-grid.wp-post-image{:src => "assets/img/people/3.jpg"}/
                  .bq_wrapper
                    %blockquote.description-testimonials{:style =>"font-family: 'Roboto';font-size: 15px;"}
                      Lorem ipsum dolor sit amet dui. Sed sagittis, metus nec massa nisl, commodo tincidunt tellus. Donec nec adipiscing metus. Sed porttitor, nulla dolor ac posuere cubilia Curae, Sed nec nunc hendrerit lacus. Quisque euismod purus laoreet metus eleifend et,
                      ultricies.
                  .hr_dots
                    %span
                    %span
                    %span
                  .author
                    %h5{:style =>"font-size: 15px;"}  Tony Johnson, 34 years
                    %span.company
            .slider_pager.slider_pagination