#Useful.section.mcb-section{:style => "padding-top:80px; padding-bottom:40px"}
  .section_wrapper.mcb-section-inner
    .wrap.mcb-wrap.one.valign-top.clearfix
      .mcb-wrap-inner
        .column.mcb-column.one.column_column
          .column_attr.clearfix.align_center
            %h4.themecolor{:style => "margin-bottom: 6px"} Useful links
            %h2 What is worth knowing?
        .column.mcb-column.one-fourth.column_column
          .column_attr.clearfix.animate{"data-anim-type" => "fadeInUp", :style => " padding:0 1%"}
            .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
              .image_wrapper
                %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic19.png"}/
            %hr.no_line{:style => "margin: 0 auto 30px"}/
            %div{:style => "padding: 0 20px"}
              %h5
                %a{:href => "#"} Sed nibh metus, convallis vitae odio at facilisis
              %div{:style => "width: 60px; height: 5px; background: #cbf2f7; border-radius: 3px"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p
                Ut vitae ornare mi. Etiam rutrum lorem vitae porttir fermentum. Suspendisse pharera.
              .image_frame.image_item.scale-with-grid.no_border.hover-disable
                .image_wrapper
                  %a{:href => "#"}
                    .mask
                    %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic20.png"}/
                  .image_links
                    %a.link{:href => "#"}
                      %i.icon-link
        .column.mcb-column.one-fourth.column_column
          .column_attr.clearfix.animate{"data-anim-type" => "fadeInUp", :style => " padding:0 1%"}
            .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
              .image_wrapper
                %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic18.png"}/
            %hr.no_line{:style => "margin: 0 auto 30px"}/
            %div{:style => "padding: 0 20px"}
              %h5
                %a{:href => "#"} Suspendisse commodo varius turpis sit amet
              %div{:style => "width: 60px; height: 5px; background: #cbf2f7; border-radius: 3px"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p
                Ut vitae ornare mi. Etiam rutrum lorem vitae porttir fermentum. Suspendisse pharera.
              .image_frame.image_item.scale-with-grid.no_border.hover-disable
                .image_wrapper
                  %a{:href => "#"}
                    .mask
                    %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic20.png"}/
                  .image_links
                    %a.link{:href => "#"}
                      %i.icon-link
        .column.mcb-column.one-fourth.column_column
          .column_attr.clearfix.animate{"data-anim-type" => "fadeInUp", :style => " padding:0 1%"}
            .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
              .image_wrapper
                %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic17.png"}/
            %hr.no_line{:style => "margin: 0 auto 30px"}/
            %div{:style => "padding: 0 20px"}
              %h5
                %a{:href => "#"} Curabitur vitae accumsan turpis
              %div{:style => "width: 60px; height: 5px; background: #cbf2f7; border-radius: 3px"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p
                Ut vitae ornare mi. Etiam rutrum lorem vitae porttir fermentum. Suspendisse pharera.
              .image_frame.image_item.scale-with-grid.no_border.hover-disable
                .image_wrapper
                  %a{:href => "#"}
                    .mask
                    %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic20.png"}/
                  .image_links
                    %a.link{:href => "#"}
                      %i.icon-link
        .column.mcb-column.one-fourth.column_column
          .column_attr.clearfix.animate{"data-anim-type" => "fadeInUp", :style => " padding:0 1%"}
            .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
              .image_wrapper
                %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic16.png"}/
            %hr.no_line{:style => "margin: 0 auto 30px"}/
            %div{:style => "padding: 0 20px"}
              %h5
                %a{:href => "#"} Sed ac eleifend magna, sit amet euismod leo
              %div{:style => "width: 60px; height: 5px; background: #cbf2f7; border-radius: 3px"}
              %hr.no_line{:style => "margin: 0 auto 15px"}/
              %p
                Ut vitae ornare mi. Etiam rutrum lorem vitae porttir fermentum. Suspendisse pharera.
              .image_frame.image_item.scale-with-grid.no_border.hover-disable
                .image_wrapper
                  %a{:href => "#"}
                    .mask
                    %img.scale-with-grid{:src => "assets/img/home_dietitian2_pic20.png"}/
                  .image_links
                    %a.link{:href => "#"}
                      %i.icon-link