// Banners Stylesheets
= stylesheet_link_tag 'keppler_banners/application', media: 'all', 'data-turbolinks-track': true
// Banners Javascripts
= javascript_include_tag 'keppler_banners/application', 'data-turbolinks-track': true