%section.about-info
  .section_wrapper.mcb-section-inner
    .about-info__content-info
      .about-info__item
        .about-info__content
          %h4.themecolor{:style => "margin-bottom: 6px"} Some story behind us
          %h2 We have 20 years of experince
          %p.description-about{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
            Nothing that happens in your life is by simple chance, if you came here is because my soul and yours resonate. In this space I seek to help you in your evolution, to develop and believe in you, because I believe in empowered women, women who help each other and who are as an unconditional support.
          .about-info__valor
            .about-info__mission
              %p.about-info__subtitle Our Mission
              %p.about-info__info-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum excepturi ex repudiandae ab nulla iste harum nisi ea, non, reprehenderit commodi illo voluptate, at libero. In explicabo tenetur delectus natus!
            .about-info__vision
              %p.about-info__subtitle Our Vision
              %p.about-info__info-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum excepturi ex repudiandae ab nulla iste harum nisi ea, non, reprehenderit commodi illo voluptate, at libero. In explicabo tenetur delectus natus!
      .about-info__item
        .about-info__content-images
          .about-info__images
            %img.img-banner{:src => "assets/img/photo-1518708909080-704599b19972.jpeg"}/
          .about-info__images
            %img.img-banner{:src => "assets/img/photo-1489568685157-ec3bcd451894.jpeg"}/


