%section.about-ideabox
  .section_wrapper.mcb-section-inner
    .about-ideabox__content
      .about-ideabox__item
        .about-ideabox__box
          %img{:src => "assets/img/success.png"}/
          -# %span.about-ideabox__number 7
        -# %hr.about-ideabox__line
        
        %h2.about-ideabox__title Years of Experence
        %p.about-ideabox__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quae, dicta pariatur.
      .about-ideabox__item
        .about-ideabox__box
          %img{:src => "assets/img/certificate.png"}/
          -# %span.about-ideabox__number 15
        -# %hr.about-ideabox__line
        
        %h2.about-ideabox__title License
        %p.about-ideabox__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quae, dicta pariatur.
      .about-ideabox__item
        .about-ideabox__box
          %img{:src => "assets/img/smile.png"}/
          -# %span.about-ideabox__number 200
        -# %hr.about-ideabox__line
        %h2.about-ideabox__title Happy Clients
        %p.about-ideabox__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quae, dicta pariatur.
