// Services Stylesheets
= stylesheet_link_tag 'keppler_services/application', media: 'all', 'data-turbolinks-track': true
// Services Javascripts
= javascript_include_tag 'keppler_services/application', 'data-turbolinks-track': true