%section.about-info{style: "position:relative;"}
  .section_wrapper.mcb-section-inner
    .about-info__content-info
      .about-info__item
        .about-info__content
          -# %h4.themecolor{:style => "margin-bottom: 6px"} Some story behind us
          %h2 
            Energetic alignment of physical, mental, emotional and spiritual body
                        
          %p.description-about{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Ac tortor vitae purus faucibus ornare suspendisse. Ut tristique et egestas quis ipsum. Massa vitae tortor condimentum lacinia quis vel eros. Risus in hendrerit gravida rutrum quisque non tellus. Consectetur adipiscing elit ut aliquam purus sit. Tincidunt id aliquet risus feugiat in ante metus. Vitae aliquet nec ullamcorper sit amet risus. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec.
          %p.description-about{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
            Enim nulla aliquet porttitor lacus luctus. Tincidunt dui ut ornare lectus. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Nisl purus in mollis nunc sed id semper. Hendrerit gravida rutrum quisque non tellus orci ac auctor augue. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Montes nascetur ridiculus mus mauris. Morbi leo urna molestie at. In fermentum et sollicitudin ac orci.

      .services-info__item
        .services-info__content-images
          .services-info__images
            %img.img-banner{:src => "assets/img/photo-1518708909080-704599b19972.jpeg"}/

  .content-img-float
    %img.scale-with-grid{:src => "assets/img/logo-circulo.png"}/
