@font-face {
  font-family: "Cocogoose";
  font-weight: normal;
  font-style: "Regular";
  src: url("../fonts/Cocogoose.ttf");
  src: url("../fonts/Cocogoose.woff");
}

.img-banner {
  border-radius: 5px;
}

.content-img {
  height: 210px !important;
  margin-bottom: 10px;
}

.content-img img {
  height: 100% !important;
  object-fit: cover;
  width: 100%;
}

.content-img-float {
  position: absolute;
  bottom: -30px;
  left: 13%;
}

.content-img-float img {
  width: 300px;
  opacity: 0.1;
}

.license {
  margin-top: 80px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.content-column {
  padding: 40px 20px 25px;
  border-radius: 8px;
}

.content-column .image_item {
  display: flex;
  justify-content: center;
}

.about {
  padding-top: 80px;
  margin-top: 50px;
  padding-bottom: 0px;
  background-image: url(../img/back_about2.png);
  background-repeat: repeat-y;
  background-position: center top;
}

.columns-item {
  padding: 10px 20px;
  border-radius: 8px;
  min-height: 280px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.columns-item p {
  margin: 0;
}

.content-text-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 140px;
}

.description-testimonials {
  font-family: "Roboto", sans-serif !important;
}

.description-services {
  font-family: "Roboto", sans-serif !important;
}

.description-about {
  font-family: "Roboto", sans-serif !important;
}

.description-banner {
  font-family: "Roboto", sans-serif !important;
}
