#Top_bar
  .container
    .column.one
      .logo
        %a#logo{"data-height" => "60", "data-padding" => "15", :href => "index.html", :title => "", :style => "margin-left: -25px;"}
          .content-logo{:style =>"width: 150px;margin-left: 5px;"}
            %img.logo-main.scale-with-grid{ :style => "width: 100% !important; margin-top: -35px;", :alt => "sacred touch healing", "data-height" => "50", "data-retina" => "assets/img/logo.png", :src => "assets/img/logo.png"}/
          %img.logo-sticky.scale-with-grid{ :style => "margin-left: -40px;", :alt => "sacred touch healing", "data-height" => "50", "data-retina" => "images/retina-dietitian2.png", :src => "assets/img/logo-horizontal.png"}/
          %img.logo-mobile.scale-with-grid{:alt => "sacred touch healing", "data-height" => "50", "data-retina" => "assets/img/logo.png", :src => "assets/img/logo.png", style: "width: 120px;margin-top: -34px;margin-left: -25px;"}/
          %img.logo-mobile-sticky.scale-with-grid{:alt => "sacred touch healing", "data-height" => "50", "data-retina" => "assets/img/logo-horizontal.png", :src => "assets/img/logo-horizontal.png", style:"margin-top: -29px;width: 260px;margin-left: -25px;"}/
      .menu_wrapper
        %nav#menu
          %ul#menu-main-menu.menu.menu-main
            %li
              %a{:href => "#Header_wrapper"}
                %span Home
            %li
              %a{:href => "#About"}
                %span About me
            %li
              %a{:href => "#Services"}
                %span Services

            %li
              %a{:href => "#License"}
                %span License
            %li
              %a{:href => "#Testimonials"}
                %span Testimonials
        %a.responsive-menu-toggle{:href => "#"}
          %i.fa.fa-bars