#About.section.mcb-section.equal-height-wrap.about
  .section_wrapper
    .wrap.mcb-wrap.one-second.valign-middle.clearfix{:style => "padding:0 5% 0 0"}
      .mcb-wrap-inner
        .column.mcb-column.one.column_column
          .column_attr.clearfix.animate.content-about__home{"data-anim-type" => "fadeInRight"}
            %h4.themecolor{:style => "margin-bottom: 6px"} About me
            %h2 Interested in energy healing?
            %p.description-about{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
              Nothing that happens in your life is by simple chance, if you came here is because my soul and yours
              resonate. I am a Licensed Spiritual Coach and would love to help you with your transformation, healing
              and personal growth. I believe that the body can heal itself, that emotional balance and inner peace are
              possible, and that we can transcend in Spirit.
            %p.description-about{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
              During a session, you will identify the areas of your physical, emotional, mental, and spiritual body that
              need work. By creating a sacred space of unconditional love and using my high sensory perception,
              along with different techniques I have learned through these past 11 years, I can help you transform old
              energies, reconnect with Higher Source vibrations for healing and promote overall wellbeing.
            %p.description-about{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
              By releasing blocks, energy balancing and energetic clearing, the healing light will be able to return to
              your body at the cellular level, where its innate wisdom knows how to heal.
            %a{ :href=>"tel:7135606940"}
              %h5{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;"}
                %i.fa.fa-phone.themecolor
                713-560-6940
            %hr.no_line{:style => "margin: 0 auto 15px"}/
            %a.btn{"data-type" => "button", "data-width" => "['auto']", "data-x" => "20", "data-y" => "100", :href => "about.haml", :target => "_self"} 
              Read more
    .wrap.mcb-wrap.one-second.valign-middle.clearfix.about-img
      .mcb-wrap-inner
        .column.mcb-column.one.column_image
          .animate{"data-anim-type" => "zoomIn"}
            .image_frame.image_item.no_link.scale-with-grid.aligncenter.no_border
              .image_wrapper.about-img__bottom
                %img.scale-with-grid.img-banner{:src => "/assets/img/about/Chamana-47.jpg"}/