
.section.mcb-section#License.license
  .section_wrapper.mcb-section-inner
    .main-license__content
      .main-license__title
        %h4.themecolor{:style => "margin-bottom: 6px"} License
        %h3 Our experience.
      .main-license__cards.slider-license
        .main-license__item{"data-anim-type" => "fadeInUp", :style => " background-color:#ef426f;"}
          .main-license__img
            %img.scale-with-grid{:src => "/assets/img/license.png"}/
          .main-license__boxtitle
            %h5{:style => "color: #fff"}
              Internationally Licensed By The Federation of Spiritual Healers Board(FSHB)in the USA. 
          .main-license__description
            %p{:style => "color: #fff;font-family: 'Roboto';font-size: 14px;text-align:center;"}
              Certified in Cellular Realease Technique DNA. Certified and Advance Practitioner through The Touch Healing Institute (THI). Certified and Practitioner Of Akashic Medicine I and II.
        .main-license__item{"data-anim-type" => "fadeInUp", :style => " background-color:#80276c;"}
          .main-license__img
            %img.scale-with-grid{:src => "/assets/img/license.png"}/
          .main-license__boxtitle
            %h5{:style => "color: #fff"}
              Current Education Studies 
          .main-license__description
            %p{:style => "color: #fff;font-family: 'Roboto' !important;font-size: 14px;text-align:center;"}
              Daoism with Lao Shi at Four Dragons Institute, and Co-teacher at the Touch of Healing Institute with Patricia Fluery. Daoism -Dragon Gate Sect Qingcheng Mountain Daoist Association Houston Branch -Lao Zhi Chang.
        .main-license__item{"data-anim-type" => "fadeInUp", :style => " background-color:#caa2dd;"}
          .main-license__img
            %img.scale-with-grid{:src => "/assets/img/license.png"}/
          .main-license__boxtitle
            %h5{:style => "color: #fff"}
              Additional Advanced Training 
          .main-license__description
            %p{:style => "color: #fff;font-family: 'Roboto' !important;font-size: 14px;text-align:center;"}
              "The flower of life", "The Awakening of the illuminated heart" and "Cosmic Grace" with Drunvalo %Melkizedeck
              "Manifesting all possibillities (MAP)" with Collete Sticher, "Matrix Energetics" with DR.R.Bartlett.

              
  .content-img-float
    %img.scale-with-grid{:src => "/assets/img/logo-circulo.png"}/
