
.section.mcb-section#License.license
  .section_wrapper.mcb-section-inner
    .main-license__content
      .main-license__title
        %h4.themecolor{:style => "margin-bottom: 6px"} License
        %h3 Our experience.
      .main-license__cards.slider-license
        .main-license__item{"data-anim-type" => "fadeInUp", :style => " background-color:#ef426f;"}
          .main-license__img
            %img.scale-with-grid{:src => "/assets/img/license.png"}/
          .main-license__boxtitle
            %h5{:style => "color: #fff"}
              Sacred Stone 
              %br/
              Massage Therapy
          .main-license__description
            %p{:style => "color: #fff;font-family: 'Poppins';font-size: 14px;text-align:center;"}
              Is the hot stone massage movement to the east coast, learn how to create powerful stone designs and use sliding, twisting, bordering and turning techniques.
        .main-license__item{"data-anim-type" => "fadeInUp", :style => " background-color:#caa2dd;"}
          .main-license__img
            %img.scale-with-grid{:src => "/assets/img/license.png"}/
          .main-license__boxtitle
            %h5{:style => "color: #fff"}
              Healing Touch Level 1 
          .main-license__description
            %p{:style => "color: #fff;font-family: 'Poppins';font-size: 14px;text-align:center;"}
              Is the hot stone massage movement to the east coast, learn how to create powerful stone designs and use sliding, twisting, bordering and turning techniques.

        .main-license__item{"data-anim-type" => "fadeInUp", :style => " background-color:#80276c;"}
          .main-license__img
            %img.scale-with-grid{:src => "/assets/img/license.png"}/
          .main-license__boxtitle
            %h5{:style => "color: #fff"}
              Healing Touch Level 2
          .main-license__description
            %p{:style => "color: #fff;font-family: 'Poppins';font-size: 14px;text-align:center;"}
              Is the hot stone massage movement to the east coast, learn how to create powerful stone designs and use sliding, twisting, bordering and turning techniques.
  .content-img-float
    %img.scale-with-grid{:src => "/assets/img/logo-circulo.png"}/
-# .section.mcb-section#License.license
-#   .section_wrapper.mcb-section-inner
-#     .wrap.mcb-wrap.one-third.valign-top.clearfix
-#       .mcb-wrap-inner
-#         .column.mcb-column.one.column_column
-#           .column_attr.clearfix{:style => " padding:0 10% 0 0"}
-#             %h4.themecolor{:style => "margin-bottom: 6px"} License
-#             %h3 Our experience.
       
-#     .wrap.mcb-wrap.two-third.valign-top.move-up.clearfix{"data-mobile" => "no-up", :style => "margin-top:-150px"}
-#       .mcb-wrap-inner.slider-license
-#         .column.mcb-column.one-third.column_column
-#           .column_attr.clearfix.align_center.animate.content-column{"data-anim-type" => "fadeInUp", :style => " background-color:#ef426f;"}
-#             .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
-#               .image_wrapper
-#                 %img.scale-with-grid{:src => "assets/img/license.png"}/
-#             %hr.no_line{:style => "margin: 0 auto 30px"}/
-#             %h5{:style => "color: #fff"}
-#               Sacred Stone 
-#               %br/
-#               Massage Therapy
-#             %hr.no_line{:style => "margin: 0 auto 10px"}/
-#             %p{:style => "color: #fff;font-family: 'Roboto';font-size: 14px;text-align:center;"}
-#               Is the hot stone massage movement to the east coast, learn how to create powerful stone designs and use sliding, twisting, bordering and turning techniques.
-#         .column.mcb-column.one-third.column_column
-#           .column_attr.clearfix.align_center.animate.content-column{"data-anim-type" => "fadeInUp", :style => " background-color:#caa2dd;"}
-#             .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
-#               .image_wrapper
-#                 %img.scale-with-grid{:src => "assets/img/license.png"}/
-#             %hr.no_line{:style => "margin: 0 auto 30px"}/
-#             %h5{:style => "color: #fff"} Healing Touch Level 1 
-#             %hr.no_line{:style => "margin: 0 auto 10px"}/
-#             %p{:style => "color: #fff;font-family: 'Roboto';font-size: 14px;text-align:center;"}
-#               Provides you with a fundamental understanding of the human energy system, the energetic connection between mind, body and spirit and 12.
-#         .column.mcb-column.one-third.column_column
-#           .column_attr.clearfix.align_center.animate.content-column{"data-anim-type" => "fadeInUp", :style => " background-color:#80276c;"}
-#             .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
-#               .image_wrapper
-#                 %img.scale-with-grid{:src => "assets/img/license.png"}/
-#             %hr.no_line{:style => "margin: 0 auto 30px"}/
-#             %h5{:style => "color: #fff"}
-#               Healing Touch Level 2
-#               -# %br/
-#               -# weight loss
-#             %hr.no_line{:style => "margin: 0 auto 10px"}/
-#             %p{:style => "color: #fff;font-family: 'Roboto';font-size: 14px;text-align:center;"}
-#               Develop your therapeutic skills to vigorously interview and evaluate clients, create a sacred space, and combine techniques for a long-lasting healing session
-#         .column.mcb-column.one-third.column_column
-#           .column_attr.clearfix.align_center.animate.content-column{"data-anim-type" => "fadeInUp", :style => " background-color:#caa2dd;"}
-#             .image_frame.image_item.no_link.scale-with-grid.alignnone.no_border
-#               .image_wrapper
-#                 %img.scale-with-grid{:src => "assets/img/license.png"}/
-#             %hr.no_line{:style => "margin: 0 auto 30px"}/
-#             %h5{:style => "color: #fff"} Healing Touch Level 1 
-#             %hr.no_line{:style => "margin: 0 auto 10px"}/
-#             %p{:style => "color: #fff;font-family: 'Roboto';font-size: 14px;text-align:center;"}
-#               Provides you with a fundamental understanding of the human energy system, the energetic connection between mind, body and spirit and 12.

-#     .content-img-float
-#       %img.scale-with-grid{:src => "assets/img/logo-circulo.png"}/