%section#Services.section.mcb-section
  .column.mcb-column.one.column_divider
    %hr.no_line{:style => "margin: 0 auto 80px"}/
  .section_wrapper.mcb-section-inner
    .title-section
      %h4.themecolor{:style => "margin-bottom: 6px"} Our services
      %h2 know more about our services
    .content-services
      - @services.each do |service|
        = link_to app_services_path(service.id) do 
          .content-services_item
            .content-services_img.content-img
              %img{:src => "#{service.index}"}/
            .content-services__content.content-column-services{"data-anim-type" => "fadeInUp", :style => "background-color:rgba(239, 66, 111, 0.26);"}
              .content-services__title
                %h5{:style => "text-align: center"}
                  = service.title
              - unless service.description_es.blank?
                .nav-language
                  %p.language.language-link.active#show-es ESP
                  %p.language#show-en ENG
                .content-services_line
                  %div{:style => "width: 80px; height: 5px; background: #ef426f; border-radius: 3px; margin: 0 auto"}
                  %hr.no_line{:style => "margin: 0 auto 15px"}/
              #en
                .content-services_description{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;text-align:center;"}
                  = raw service.description.truncate(200)
              #es.hidden
                .content-services_description{:style =>"font-weight: 300;font-family: 'Roboto';font-size: 15px;text-align:center;"}
                  -# = raw service.description_es.truncate(200)
              
:css
  .hidden { display: none }

:javascript
  $('#show-es').click(function() {
    $('#en').hide()
    $('#es').show()
  })

  $('#show-en').click(function() {
    $('#es').hide()
    $('#en').show()
  })
