%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :scss
      /* Base ------------------------------ */
      @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
      *:not(br):not(tr):not(html) {
        font-family: 'Noto Sans', sans-serif;
        box-sizing: border-box;
      }
      
      body {
        width: 100% !important;
        height: 100%;
        margin: 0;
        line-height: 1.4;
        background-color: #F2F4F6;
        color: #74787E;
        -webkit-text-size-adjust: none;
      }
      
      p,
      ul,
      ol,
      blockquote {
        line-height: 1.4;
        text-align: left;
      }
      
      a {
        color: #3869D4;
      }
      
      a img {
        border: none;
      }
      
      td {
      word-break: break-word;
      }
      /* Layout ------------------------------ */
      
      .email-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        background-color: #1f1f1f;
      }
      
      .email-content {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
      }
      /* Masthead ----------------------- */
      
      .email-masthead {
        padding: 0px 0;
        text-align: center;
        background-color: #fff;
      }
      .email-masthead img{
        width: 12%;
      }
      
      .email-masthead_logo {
        width: 94px;
      }
      
      .email-masthead_name {
        font-size: 16px;
        font-weight: bold;
        color: #bbbfc3;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
      }
      /* Body ------------------------------ */
      
      .email-body {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        border-top: 1px solid #EDEFF2;
        border-bottom: 1px solid #EDEFF2;
        background-color: #FFFFFF;
      }
      
      .email-body_inner {
        width: 570px;
        margin: 0 auto;
        padding: 0;
        -premailer-width: 570px;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        background-color: #FFFFFF;
      }
      
      .email-footer {
        width: 570px;
        margin: 0 auto;
        padding: 0;
        -premailer-width: 570px;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        text-align: center;
      }
      .email-footer p{
        color: #fff;
      }
      .body-action {
        width: 100%;
        margin: 30px auto;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        text-align: center;
      }
      
      .body-sub {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid #EDEFF2;
      }
      
      .content-cell {
        padding: 35px;
      }
      /* Attribute list ------------------------------ */
      
      .attributes {
        margin: 0 0 21px;
      }
      
      .attributes_content {
        background-color: #fff;
        padding: 16px;
      }
      
      .attributes_item {
        padding: 0;
        line-height: 28px;
      }
      .attributes_item strong{
        color:#2F3133;
      }
      .attributes_item img{
        margin-top: 20px;
        width:100%;
      }
      #company{
        color:white;
        text-decoration: none!important;
      }
      
      /* Utilities ------------------------------ */
      
      .align-right {
        text-align: right;
      }
      
      .align-left {
        text-align: left;
      }
      
      .align-center {
        text-align: center;
      }
      /*Media Queries ------------------------------ */
      
      @media only screen and (max-width: 600px) {
        .email-body_inner,
        .email-footer {
          width: 100% !important;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .button {
          width: 100% !important;
        }
      }
      @media only screen and (max-width:767px){
        .email-masthead img{
          width:30%;
        }
      }
      /* Type ------------------------------ */
      
      h1 {
        margin-top: 0;
        color: #2F3133;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
      }
      
      h2 {
        margin-top: 0;
        color: #2F3133;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
      
      h3 {
        margin-top: 0;
        color: #2F3133;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }
      
      p {
        margin-top: 0;
        color: #74787E;
        font-size: 16px;
        line-height: 1.5em;
        text-align: center;
      }
      
      p.sub {
        font-size: 13px;
      }
      
      p.center {
        text-align: center;
      }

  %body
    %table.email-wrapper{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.email-content{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td.email-masthead
                %a.email-masthead_name{:href => "#"}
                  =# image_tag attachments[@logo], style: "width: 100px"
                  %img{ src: "http://img.fenixzone.net/i/jy1ilvh.png"}
                  
            / Email Body
            %tr
              %td.email-body{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %table.email-body_inner{:align => "center", :cellpadding => "0", :cellspacing => "0", :width => "570"}
                  / Body content
                  %tr
                    %td.content-cell
                      %h1 
                        Dear 
                        
                        , Thank you for contacting us!
                      %p We remind you of your contact information.
                      %table.attributes{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td.attributes_content
                            %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tr
                                %td.attributes_item
                                  %strong Your name:
                                  
                              %tr
                                %td.attributes_item
                                  %strong Your e-mail:
                                  
                              
                              %tr
                                %td.attributes_item
                                  %strong Your  subject:
                                    
                              
                              %tr
                                %td.attributes_item
                                  %strong Message:
                                    
                      %p
                        We will contact you as soon as possible.
                        %br/
                        %strong Kind regards, Customer service - Sacred Touch Healing
            %tr{ :style=>"background-color: #b4204b;"}
              %td
                %table.email-footer{:align => "center", :cellpadding => "0", :cellspacing => "0", :width => "570"}
                  %tr
                    %td.content-cell{:align => "center"}
                      %p.sub.align-center Sacred Touch Healing 2019 | All rights reserved
                      %p.sub.align-center
                        Developed by
                        %a#company{:href => "https://slicegroup.co"}
                          %strong Slice Group


