// Testimonials Stylesheets
= stylesheet_link_tag 'keppler_testimonials/application', media: 'all', 'data-turbolinks-track': true
// Testimonials Javascripts
= javascript_include_tag 'keppler_testimonials/application', 'data-turbolinks-track': true